#formacao{
  background-color: var(--bg-cor-escura);
  padding-top: 20px;
}

.formacao-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  padding: 2.5rem 7.5rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 6.25rem;
  margin-top: 40px;
}


#formacao h1 {
  font-family: var(--fonte-titulos-principais);
  color: var(--cor-titulo-escuro);
  font-size: 3rem;
  line-height: 1.125;
  grid-template-columns: 1/2;
}

.formacao-resumo {
  color: var(--cor-texto-paragrafo-claro);
  font-size: 1rem;
  line-height: 1.5;
}

.formacao-resumo strong {
  color: #fff;
}


.minhas-formacoes{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 60px;
}

.minhas-formacoes .quadro-formacao {
    background-color: #090909;
    padding: 20px;
    border: 1px solid #041804;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 150px;
    height: 160px;

}

.formacao-tipo{
  color: var(--cor-texto-paragrafo-claro);
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 10px;
}

.formacao-curso{
  flex: 1;
  color: var(--cor-texto-paragrafo-claro);
  font-size: 1.125rem;
  line-height: 1.2;
}

.formacao-instituicao{
  color: var(--cor-texto-paragrafo-claro);
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
}

.cursos{
  margin-top: 50px
}

.cursos ul li{
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.cursos h2{
  font-size: 0.875rem;
  font-weight: bold;
  color: #8F8F8F;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 15px;
  display: relative;
}

.cursos h3{
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--cor-titulo-claro);
  padding: 10px 0px;
}

.cursos ul li p{
  font-size: 1rem;
  color: #8F8F8F;
  text-align: end;
  align-self: center;
}
@media (max-width: 1040px){
  .cursos ul li{
    display:block;
  }

  .cursos ul li p{
    color: #8F8F8F;
    text-align: start;
    align-self: start;
  }
}

@media (max-width: 950px) {

  .formacao-container {
    gap: 3.125rem;
    grid-template-columns: 1fr;
    padding: 2.5rem 5rem;
  }

  #formacao h1 {
    font-size: 2.25rem;
    line-height: 1.125;
  }

  .minhas-formacoes {
    gap: 1.875rem;
    margin-top: 3.125rem;
  }


  .formacao-curso {
    font-size: 1rem;
  }

  .formacao-tipo {
    font-size: 0.75rem;
  }

  .formacao-instituicao {
    font-size: 0.75rem;
  }

  .cursos h2 {
    font-size: 0.75rem;
  }

  .cursos h3 {
    font-size: 1rem;
  }

  .cursos ul li p {
    font-size: 0.75rem;
  }
}

@media (max-width: 750px){

  .formacao-resumo{
    font-size: 1rem;
  }

  .minhas-formacoes .quadro-formacao {
    width: 100px;
    height: 75px;
    padding: 10px;
  }

  .formacao-tipo{
    font-size: 0.625rem;
  }
  .formacao-curso{
    font-size: 0.675rem;
  }
  .formacao-instituicao{
    display: none;
  }

  .cursos h3{
    font-size: 0.875rem;
  }
}