

#principal {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 2.5rem 7.5rem;
  
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 6.25rem;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

#foto-perfil{
  margin: 0 auto;
  padding: 0;
}

#principal h1 {
  font-family: var(--fonte-titulos-principais);
  color: #8B9469;
  font-size: 4rem;
  line-height: 1.125;
}

#principal p {
  font-family: var(--fonte-secundaria);
  color: #364822;
  font-size: 1rem;
  padding: 1.375rem 0rem;
}

@media (max-width: 950px){
  #principal {;
    gap: 3.125rem;
    padding: 2.5rem 5rem;
  }
  #principal h1 {
    font-size: 3rem;
    line-height: 1.125;
  }
  #foto-perfil img{
    width: 200px;
  }
  .detalhe{
    width: 40px;
  }
}

@media (max-width: 790px){
  #principal h1 {
    font-size: 2rem;
    line-height: 1.125;
  }
  #
}

@media (max-width: 650px){
  #principal{
    grid-template-columns: 1fr;
  }
  #foto-perfil{
    display: none;
  }
  #principal h1 {
    font-size: 2.5rem;;
  }
}

@media (max-width: 500px){
  #principal {
    padding: 2.5rem 2rem;
    margin: 7.5rem 0rem;
  }

}




